
.dropdown-menu {
    position:relative;
}

.dropdown-items {
    background-color: #ddd;
    border:2px solid;
    padding:24px;
    position:absolute;
    visibility:hidden;
}

.dropdown-items.visible {
    visibility:visible;
}